
.starrating{
    justify-content: left;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating > label
{
    color: #d8bf64; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{
    color: #fff346 ;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #fff346 ;  } /* Set yellow color when star hover */

.created-date{
    float:right;
}

.created-by{
    float:right;
    font-weight: bold;
}

.operators-message{
    margin-top: 29px;
}

.clients-message{
    margin-top: 29px;
}

.operators-message2 {
    background: rgba(24, 179, 228, 0.19);
    border-radius: 20px;
    padding: 36px 39px 29px 39px;
}

.ticketBtn {
    width: 100%;
    max-width: 238px;
    border-radius: 8px;
    min-height: 50px;
}

.ticketBtn1 {
    background-color: #006BCE;
    color: white;
}

.ticketBtn2 {
    background-color: #D70000;
    color: white;
}

.appeals-filter {
    margin-left: 56px;
}

.filter-inner-block{
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-inner-block>p{
    margin: 0;
}

.evaluation-message{
    max-width: 300px;
    overflow: hidden;
}



.cTitle {
    color: #000000;
    font-size: 16px;
}

.cText {
    font-size: 20px;
    font-weight: 700;
}


.operators-bg {
    background: rgba(0, 179, 18, 0.15);
}


.clients-bg {
    background: rgba(24, 179, 228, 0.19);
}


.tTitle {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.tText {
    color: #278DEB;
    font-size: 20px;
    line-height: 19px;
}

.header_footer {
    padding: 0 25px;
}


.header_footer .badge span {
    font-size: 20px;
    font-weight: 400;
}

.log_obr li {
    list-style: none;
    margin-top: 12px;
}


.lTitle {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
}

.pos_ose {
    padding-top: 47px;
}


.view_item {
    margin-bottom: 52px;
    max-width: 779px;
}

.ml-85 {
    margin-left: 85px;
}


.d-none {
    display: none;
}


@media ((max-width: 992px)) {
    .ml-85 {
        margin-left: 0;
    }
}
