
.starrating{
    justify-content: left;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: #d8bf64; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{
    color: #fff346 ;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #fff346 ;  } /* Set yellow color when star hover */

.created-date{
    float:right;
}

.created-by{
    float:right;
    font-weight: bold;
}

.operators-message{
    background: rgba(24, 179, 228, 0.19);
    padding: 0 30px 30px 26px;
    border-radius: 20px;
    margin-top: 20px;
}

.ticketBtn {
    width: 100%;
    max-width: 238px;
    border-radius: 8px;
    min-height: 50px;
}

.ticketBtn1 {
    background-color: #006BCE;
    color: white;
}

.ticketBtn2 {
    background-color: #D70000;
    color: white;
}

.appeals-filter{
    padding: 30px 30px;
    margin-top: 20px;
}

.filter-inner-block{
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-inner-block>p{
    margin: 0;
}

.clients-message{
    background-color: #a8ffaf;
    padding: 30px 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.evaluation-message{
    max-width: 300px;
    overflow: hidden;
}


