* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.mains {
    flex: 1 1 auto;
}

.flash-messages {
    position: absolute;
    top: 115px;
    right: 15px;
    z-index: 2;
}

.change-button{
    float:right;
    text-decoration: underline !important;
}

.created-ticket{
    background-color: #f1f1f1;
    padding: 30px 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.paragraph{
    padding: 10px 10px;
}


.tickets-list{

}

.main-banner{
    padding: 59px 0;
}

.auth-action-button{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}

.table-action-button{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.table-action-form{
    display:inline-block;
}

.auth-action-button:hover{
    color: rgb(91, 91, 255);
}

.header-button {
    margin-right: 10px;
    margin-left: 10px;
}

.header-button.person {
    text-align: center;
    vertical-align: middle;
}

.header-button.person>a {
    color: black;
}

.header-button.person>a:hover {
    color: rgb(91, 91, 255);
}

.header-button.person>a>p {
    margin: 0;
}

.info-block {
    background-color: rgb(255, 229, 174);
    padding: 30px 30px;
    border: 1px solid rgb(252, 205, 105);
    border-radius: 25px;
    height: 20%;
}

.info-block>p {
    color: rgb(110, 110, 110);
    font-size: 13px;
}

.profile-input{
    display: inline;
    width: auto !important;
}

@media (max-width: 576px){
    .info-block {
        margin: 20px 20px;
    }
}




.logo-text {
    font-size: 20px;
}

.link-color {
    color: #63ACF0 !important;
    text-decoration: underline;
}




.pdBtn {
    width: 100%;
    max-width: 227px;
    background: #006BCE;
    min-height: 40px;
    border-radius: 8px;
}

.btColor {
    background-color: #006BCE;
}

.first-item-text-section {
    width: 100%;
    max-width: 335px;
}



        .myLine {
            position: relative;
        }

        .account {
            margin-top: 44px;
        }

        .myLine::before {
            content: "";
            position: absolute;
            left: 110px;
            top: 18px;
            width: 70%;
            height: 2px;
            background-color: #CCCCCC;
        }

        .profile-list-group {
            text-align: end;
        }

        .profile-list-group li {
            list-style: none;
        }

        .myUl {
            list-style: none;
        }

@media (max-width: 767px) {
    .first-item-text-section {
        max-width: 100%;
    }
    .endD {
        text-align: center !important;
    }
}


        .endD {
            text-align: end;
        }

@media (max-width: 991px) {
    .navbar-nav {
        align-items: flex-start !important;
    }
        .navbar-nav li {
        margin-top: 10px;
        }
    .header-button {
        margin-top: 13px;
    }
        .header-button.person {
            text-align: start;
        }
        .profile_img {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        .profile_table {
            display: flex;
            justify-content: center;
        }
                .form-label {
                    font-size: 20px !important;
                }
                .navbar-toggler {
                        margin-top: 20px;
                            margin-left: auto;
                }
                .prev_date {
                    margin-top: 15px;
                }
                .view_btn {
                    margin-left: 0px !important;
                }
}

.form-label {
    font-size: 30px;
}

.mt-43 {
    margin-top: 43px;
}

.fs-18 {
    font-size: 17px;
}


.modal-header {
    border-bottom: 1px solid #000000;
}


.log {
    max-width: 839px;
}

.vTitle {
    font-size: 18px;
    color: black;

}

.logBtn {
    color: white;
    background-color: #18B3E4;
    width: 100%;
    max-width: 300px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.modal_text p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 22px;
}

.modal_text {
    max-width: 289px;
    width: 100%;
}


.first-item-text-section h1 {
    color: white;
    font-weight: 700;
    line-height: 35px;
    font-family: 'Inter', sans-serif;
}

.first-item p {
    margin-top: 24px;
    font-family: 'Inter', sans-serif;
}

.first-item {

}



.fs-17 {
    font-size: 20px;
}

.fw-600 {
    font-weight: 600;
}




.leftM {
    margin-left: 70px;
}


.myLink {
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    border-radius: 10px;
}


.inputColor {
    color: #006BCE;
}

.fCheck {
    margin-bottom: 0;
}

.appleale-title {
    font-size: 20px;
    color: black;
}

.fCheck input:before {
    background-color: #000000;
}

.firstTableTr{
    border-top: 3px solid #777777;
    border-bottom: 3px solid #777777;
    border-left: 3px solid #CCCCCC;
    border-right: 3px solid #CCCCCC;
}


.tableTr {
    border: 3px solid #CCCCCC;
}

.fMod .modal-content {
    padding: 55px 60px;
    border-radius: 24px;
}

.fCheckInput {
    font-size: 18px;
    color: black;
}
.check_form {
    max-width: 303px;
    width: 100%;
}

.fMod .modal-body {
    padding: 70px 0 0 0;
}

.modal_form {
    max-width: 303px;
}

.ost {
    font-size: 18px;
}


.mt-7 {
    margin-top: 7px;
}

.lMTitle {
    font-size: 24px;
    font-weight: 700;
}

.modal-header {
    padding: 0 0 20px 0;
}

.mt-29 {
    margin-top: 29px;
}

.btnColor {
    background-color: #006BCE;
    border-radius: 8px;
    height: 50px;
}

.mt-71 {
    margin-top: 71px;
}


@media only screen and (max-width: 1200px) {

    .main_content::before {
        content: "";
        display: none;
    }

    .main::before {
        width: 50%;
    }

    .main::after {
        width: 50%;
    }

    .leftM {
        margin-left: 0px;
    }

}


@media only screen and (max-width: 1099px) {

    .main_content::before {
        content: "";
        display: none;
    }


}



.myInput {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #006BCE;
}

.myInput::placeholder {
    color: #006BCE;
}







.support_bot_item_right p {
    color: #000000;
}



.stanDart {
    color: #000000;
    font-size: 18px;
}




.anonse-title {
    font-size: 40px;
    color: #000000;
    font-weight: 400;
    font-size: 40px;
    font-weight: 400;
}

.anonse-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.anonse-item {
    width: 95%;
}

.anonse-data {
    display: block;
    font-size: 20px;
    color: #777777;
    margin-bottom: 1rem;
}

.anonse .e-school {
    font-size: 14px;
    margin-bottom: 0;
    color: #006BCE !important;
    margin-bottom: 5px;
    line-height: 24px;
}

.anonse .e-school:hover {
    text-decoration: none !important;
}

.anonse .e-text {
    font-weight: 700;
    font-size: 20px;
    color: #000000 !important;
}

.social-img {
    min-width: 217px;
    width: 100%;
}

.anon {
    padding-bottom: 85px;
    border-bottom: 3px solid #D6D6D6;

}


.social-img-you {
    max-width: 175px;
    margin: 30px 0px;
    height: 38px;
}

.social-img-tel {
    max-width: 64px;
    margin: 20px 0px;
}

.PodsInput {
    width: 32px;
    height: 32px;
    position: inherit;
}

.formLabel {
    display: flex;
}


.social-item {
    width: 100%;
    max-width: 323px;
}

.social-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #000000;
}

.social-text2 {
    font-weight: 400;
    font-size: 18px;
    max-width: 252px;
    line-height: 22px;
    color: #000000;
}

.counter-lists {
    border: 1px solid #FFB800;
    border-radius: 20px;
    background: rgba(255, 184, 0, 0.2);
    min-height: 241px;
    display: flex;
    align-items: center;
    padding: 46px 80px;
}

.counter-lists .row {
}

.counter-item {
}

.counter-num {
    font-size: 64px;
    color: #278DEB;
    font-weight: 400;
}

.counter-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-size: 18px;
    max-width: 172px;
}

.last-text {
    margin-top: 85px;
    max-width: 1030px;
    font-size: 20px;
    line-height: 24px;
}

.last_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-text {
    font-size: 13px;
}

.edus-info {
    display: flex;
    justify-content: space-between;
}

.tips {
    background-color: bisque;
    padding: 30px;
    border-radius: 15px;
    border-inline-color: yellow;
}

.write-btn {
    border: 2px solid blue;
    color: #fff !important;
    padding: 5px 40px;
    border-radius: 7px;
    background-color: blue;
    font-size: 14px;
}

.control-label {
    font-size: 15px;
}

.panel {
    padding: 0;
    border-radius: 10px;
    border: none;
}

.panel .panel-heading {
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.panel .panel-heading .title {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.icons {
    width: 20px;
    height: 20px;
}

.pin {
    text-decoration: none !important;
}

.navbar-nav {
    align-items: center;
}


.bb {
    position: relative;
}

.bb::after {
    content: "";
    position: absolute;
    bottom: 0;
        /* position the top  edge of the element at the middle of the parent */
        left: 50%;
        /* position the left edge of the element at the middle of the parent */

        transform: translate(-50%, -50%);
    background-color:black;
    width: 90%;
    height: 1px;
}









.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #006BCE;
    padding: 96px 0 60px 0;
    margin-top: 107px !important;
}

.mmyFoot {
    padding-bottom: 75px;
    border-bottom: 1px solid #000000;
}

.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}

.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
    line-height: 17px;
}

.single-footer-widget .copywrite-text a {
    color: white;
    font-size: 1rem;
}


.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: white;
}

.single-footer-widget .widget-title {
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}

.single-footer-widget .footer_menu li a {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    font-size: 14px;
}

.single-footer-widget .footer_menu li::marker {
    color: white
}

.single-footer-widget .footer_menu li {
    margin-left: 20px;
}

.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: white;
}

.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}

.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}

.footer_social_area a i {
    line-height: 36px;
}

.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

.widget-title {
    color: white;
    font-weight: 400;
}


.nav-item {
    margin-left: 10px;
}

.ml-10 {
    margin-left: 10px;
}












header {
    padding: 34px 0 28px 0;
}


.logo span {
    margin-left: 10px;
    color: black;
    font-weight: 400;
    font-size: 24px;
}

.tele span {
    font-weight: 400;
    color: #278DEB;
    font-size: 18px;
    border-bottom: 1px solid #278DEB;
}

.pod {
    background-color: #006BCE;
    width: 100%;
    max-width: 227px;
    min-height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 7px 11px 11px 12px !important;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.nav-item {
    margin-left: 29px;
}

.auth span {
    color: #278DEB;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #278DEB;
}

.main {
    min-height: 600px;
    position: relative;
}

.main::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    background-color: #FFB800;
    min-height: 600px;
    height: 100%;
    z-index: -100;
}


.main::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    background-color: #18B3E4;
    min-height: 600px;
    height: 100%;
    z-index: -100;
}


.main_item_text a {
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 23px 13px 23px;
}

.fArrow {
    margin-left: 7px;
}

.main_item_text h1 {
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 35px;
    letter-spacing: -0.03em;
}

.main_item_text p {
    color: white;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 38px;
    line-height: 24px;
}

.main_items {
    padding-top: 191px;
}

.main_left {
    margin-left: 49px;
}


.main_content {
    position: relative;
}

.main_content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/public/images/screen.svg');
    width: 325px;
    height: 650px;
    margin-top: 85px;
    margin-right: 50px;
}



.container-fluid {
    padding: 0 4em;
    max-width: 1366px;
}

.main_left {}



.main_right {}




.support_bot_item_right {
    max-width: 458px;
}

.support_bot_item_right p {
    font-size: 18px;
}





@media (min-width: 1400px) {
    .main::before {
        width: 50%;
    }

    .main::after {
        width: 50%;
    }
}


@media (min-width: 1600px) {

    .main::after {
        width: 50%;
    }
}



@media (max-width: 1300px) {
    .main_content::before {
        margin-right: 0;
    }
}


@media (max-width: 1200px) {
    .main::before {
        width: 50%;
    }

                                .ml-43 {
                                    margin-left: auto !important;
                                }

    .main::after {
        width: 50%;
    }

    .main_content::before {
        display: none;
    }
}


@media (max-width: 992px) {
    .container-fluid {
        padding: 0 3em;
    }
}


@media (max-width: 767px) {
    .main_item {
        width: 100% !important;
    }

    .main_items {
        padding: 121px 0;
    }

    .main_left {
        margin-left: 0;
        margin-top: 50px;
    }

    .main::before {
        width: 50%;
    }

    .main::after {
        width: 50%;
    }
}



.bg {
    position: relative;
    min-height: 600px;
}

.bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 458px;
    height: 100%;
    min-height: 600px;
    background-color: #FFB800;
    z-index: -99;
}

.bg::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 840px;
    min-height: 600px;
    background-color: #18B3E4;
    z-index: -99;
}



@media (max-width: 1365px) {
    .bg::before {
        width: 40%;
    }



    .bg::after {
        width: 67%;
    }
}


@media (max-width: 1200px) {
    .bg::before {
        width: 50%;
    }



    .bg::after {
        width: 50%;
    }
}




@media (max-width: 767px) {
    .bg::before {
        width: 100%;
        min-height: 50%;
        padding-bottom: 20px;
        top: unset;
        height: 50%;
    }

        .main::before {
            width: 100%;
            min-height: 50%;
            top: unset;
            padding-bottom: 20px;
            bottom: 0;
            height: 50%;
        }

     .main_right {
        padding-bottom: 160px;
     }

     .pd {
    padding-right: 15px !important;
        padding-left: 15px !important;
     }



    .bg::after {
        width: 100%;
        min-height: 50%;
        bottom: 0;
        top: unset;
        height: 50%;
    }


        .main::after {
            width: 100%;
            min-height: 50%;
            height: 50%;

        }
}

.modal {
    overflow: auto;
}

.left_sols {
    max-width: 380px;
    background: rgba(255, 168, 0, 0.27);
        border: 1px solid #FFB800;
        border-radius: 20px;
        padding: 45px 39px 77px 39px;
}

.left_sols p {
    color: rgba(0, 0, 0, 0.4);
    line-height: 19px;
}

.left_sols h5 {
    margin-bottom: 20px;
    font-size: 24px;
}




.pd {
    padding: 0;
}

.mx-303 {
    max-width: 303px;
}





.table-responsive {

}




.tableTr {
    font-size: 20px;
}


.table td,
.table th {
    padding: 18px 14px;
    vertical-align: inherit;
}


.table thead th {
    font-size: 20px;
    color: #000000;
}


.ml-43 {
    margin-left: -43px;
}



.starrating>input:checked~label {
    font-size: 20px !important;
}

.starrating>label {
    font-size: 20px;
}