#images-preview {
    background-color: transparent;
    display: inline-block;
}

.uploading-files{
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0 !important;
}
